<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta property="og:description" content="Find LL shipping times by CEP input :D">
    <meta property="og:image" content="https://media.giphy.com/media/12NUbkX6p4xOO4/giphy.gif">
    <title>CEP Lookup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="body">
      <div class="row">
        <div class="col-lg-6 col-sm-12 left">
          <form method="POST">
            <div class="input-group">
              <input type="text" class="form-control" data-mask="00000000" maxlength="8" minlength="8" placeholder="CEP code here" name="cep">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 col-sm-12 right">
          <div class="params">
            <h1>
              <%= @values.nil? ? "Nothing here" : "#{@time} days to #{@city}" %>
            </h1>
          </div>
        </div>
      </div>
    </div>

      <style type="text/css">

        .left{
          display : flex;
          justify-content : center;
          align-items : center;
          background-color:red;
          height : 100vh;
          color : #FFF;

        }
        .right{
          display : flex;
          justify-content : center;
          align-items : center;
          background-color:#FFF;
          height : 100vh;
          color : red;
        }
        /* Bootstrap 4 text input with search icon */

      </style>
      <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
      <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
